In [23]:
#import dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import pandas as pd
import time

In [24]:
executable_path = {"executable_path":"C:\chromedriver_win32\chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

In [26]:
#visiting the page
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [28]:
#using bs to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [32]:
news_title = soup.find("div",class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"P: {news_paragraph}")

Title: After a Reset, Curiosity Is Operating Normally
P: NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer.

In [33]:
paragraphs = soup.find_all('p')
for paragraph in paragraphs:
    print(paragraph.text)

Managed by the Mars Exploration Program and the Jet Propulsion Laboratory for NASA’s Science Mission Directorate

In [35]:
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg"
browser.visit(featured_image_url)

In [38]:
#get mars weather's latest tweet from the website
mars_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather)

'https://twitter.com/marswxreport?lang=en'

In [40]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

InSight sol 84 (2019-02-20) low -95.1ºC (-139.2ºF) high -13.2ºC (8.3ºF)
winds from the SW at 4.1 m/s (9.3 mph) gusting to 10.8 m/s (24.2 mph)pic.twitter.com/WlR4gr8gpC

In [41]:
mars_facts = "https://space-facts.com/mars/"
table = pd.read_html(mars_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [45]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg": "..."},
    {"title": "Cerberus Hemisphere", "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg": "..."},
    {"title": "Schiaparelli Hemisphere", "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg": "..."},
    {"title": "Syrtis Major Hemisphere", "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg": "..."},
]